*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
/*Общие настройки для всего сайта*/
body{
	background: #ececec;/*цвет фона*/
	font-family: 'Open Sans', sans-serif;/*Шрифт контента*/
	font-size: 13px;/*Размер шрифта*/
	color: #a0a0a0;/*Цвет шрифта*/
	min-width: 320px;/*Минимальная ширина*/
}
img{
	max-width: 100%;/*Максимальная ширина картинки*/
	height: auto;/*Высота определяется автоматически*/
}
/*Заголовки*/
h3{
	font-size: 24px;
	font-weight: 700;
}
/*Кнопка верхнее меню*/
.btn-red{
	background: #d51e08;
	color: #fff;
}
.btn-red:hower{/**/
	background: #ec4835;
}
/*_______________________Header______________________________*/
.menu-top .navbar{
	margin-bottom: 0;/*убираем margin для кнопки*/
	background: #fff;
	padding: 20px 0;/*с верху и снизу 20px отступ, по бокам 0*/
	text-transform: uppercase;
}
.menu-top .navbar-default .navbar-nav > li > a{
	color: #000;
	padding-bottom: 5px;
	padding-top: 5px;
	transition: background .3s;
}
.menu-top .navbar-default .navbar-nav > li > a:hover {
    background: #ccc;
    color: #000;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: background .3s;
    text-decoration: underline;
}
.menu-top .navbar-default .navbar-nav > li > a.btn-red{
	color: #fff;
	border-right: 3px;
	border-radius: 5px;
	padding: 5px 20px;
}
.menu-top .navbar-default .navbar-nav > li > a.btn-red:hover{
	background: #eee;
	text-decoration: none;
}	
.menu-top .navbar-default .navbar-nav > li > a> .glyphicon{
	margin-right: 10px;
	font-size: 16px;
}
.menu-top .container, .menu-top .navbar-collapse{
		padding-left: 0;
}
.flag{/*фото флага в меню*/
	margin-right: 5px;
	position: relative;
	top: -1px;
}
.menu-carousel .item{
min-height: 600px;
}
.menu-carousel .bgslide{
	background-size: cover;
	background-position: center center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.carousel.fade{
	opacity: 1;
}
.carousel.fade .item{
	opacity: 0;
	transition: opacity .5s;
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: ;
}
.carousel.fade .item.active{
	opacity: 1;
	position: relative;
	z-index: ;
}
.menu-carousel .carousel-caption{
	left: 0;
	top: 250px;
}
.menu-carousel .carousel-caption h1{
	font-weight: 700;
	font-size: 48px;
}
.menu-carousel .carousel-caption h3{
	font-size: 30px;
	margin-bottom: 40px;
}
.menu-carousel .carousel-caption .btn-red{
 	padding: 20px 30px;
 	border-radius: 5px;
 	color: #fff;
 	font-size: 24px;
}
.menu-carousel .carousel-caption .btn-red{
	text-decoration: none;
}
.menu-carousel .container{
	position: relative;
}
.menu-carousel .carousel-control{
	z-index: 10;
}
.carousel-indicators-wrap{
	position: absolute;
	width: 100%;
	bottom: 0;
}





/*Large Devaces, Wide Screens*/
@media screen and (max-width: 1200px) {
	menu-top .navbar-nav{
	float:none !important;
}
}

@media screen and (max-width: 1200px) {
	
	.menu-carousel .carousel-caption{
	left: 20%;
}
}

/*Medium Devaces, Desktops*/
@media screen and (max-width: 992px) {
.menu-carousel .carousel-caption h1{
	font-size: 40px;
}
.menu-carousel .carousel-caption h3{
	font-size: 22px;	
}
}

/*Small Devaces, Tablets*/
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 767px) {
.menu-top .navbar-default .navbar-nav > li > a:hover {
    background: #eee;
}
.menu-top .container, .menu-top .navbar-collapse{
		padding-left: 15px;
}
.menu-carousel .carousel-caption h1{
	font-size: 38px;
}
.menu-carousel .carousel-caption h3{
	font-size: 20px;	
}
/*button*/
.menu-carousel .carousel-caption .btn-red{
 	padding: 15px 20px;
 	border-radius: 5px;
 	color: #fff;
 	font-size: 16px;
}

/*Extra Small Devaises, Phone*/
@media screen and (max-width: 480px) {
	.menu-carousel .carousel-caption .btn-red{
 	font-size: 14px;
}

}

}